//
// _typography.scss
//
// This stylesheet is written in SASS(1) and contains site wide typographic
// specifications.
//


$base-font-size: 1em;


body {
  font-size: 100.00%; // This makes $base-font-size 16px
}


//
// Calculating Font Sizes from PX to EM
//
// [Desired Pixel Size]/[Base Pixel Size]=[EM Font Size Value]
//
// Examples:
//
//     24 / 16 = 1.500em
//     18 / 16 = 1.125em
//     12 / 16 = 0.750em
//     10 / 16 = 0.625em
//

//
// Calculating Line Height and Margins from PX to EM
//
// Example:
// 
//     body {
//       font-size: 100%; // 100% body font-size is the same as saying 16px
//     }
//
//     h1 {
//       font-size: 3.000em; // 48px (body-font-size*font-size)
//       line-height: 1; // 48px (1*font-size)
//       margin-bottom: 0.333em; // 12px (0.250*font-size)
//       margin-top: 0; // 0px (0*font-size)
//     }
//
//


//
// Global Typeographic Styles
//
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: $font-serif;
  color: $color-black-base;
  line-height: 1.5;
  letter-spacing: 0.025em;
}

h1 {
  font-size: 3em;
  font-weight: 200;
  line-height: 1;
  margin-bottom: 16px;
  margin-top: 0;
}

h2, p.lead {
  font-size: 1.8em;
  line-height: 1.3;
  margin-bottom: 16px;
  margin-top: 0;
}

p.introduction {
  font-size: 2em;
  line-height: 1.4;
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}

h2.sans {
  font-family: $font-sans;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-family: $font-sans;
  font-size: 1.000em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 16px;
}

h3.alt {
  color: $color-blue-base;
  font-family: $font-sans;
  font-size: 1.250em;
  font-weight: 300;
  text-transform: uppercase;
}

h4 {
  font-size: 1.250em;
  font-weight: 100;
  margin: 0 0 24px;
}

h5 {
  font-size: 1.000em;
  font-weight: 500;
  margin: 0 0 24px;
}

h6 {
  font-size: 0.750em;
  font-weight: bold;
  margin: 0 0 24px;
}

p,
address {
  font-size: 1em;
  font-weight: 100;
  font-style: normal;
  margin: 0 0 16px;
}

em {
  font-style: italic;
}

ul {
  list-style-type: square;
  margin: 0 0 32px;
}

ol {
  // default settings
}

li {
  font-size: 1.000em;
}

hr {
  border: 0;
  border-top: 1px solid rgb(225,225,225);
  clear: both;
  float: left;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 100%;
}


//
// Global Hyperlink Styles
// 
a,
a:active,
a:link,
a:visited {
  color: $color-blue-base;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: $color-blue-base;
  text-decoration: underline;
}


//
// Generic Overrides
//
.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

//
// Special Content Areas
//
//
.site-action {
  h1 {
    color: $color-white-base;
    font-size: 1.5em;
  }

  p {
    color: $color-white-base;
  }


  p.introduction {
    color: $color-white-base;
    font-weight: 100;
    font-style: italic;
    text-align: center;
  }
}

.inline-action {
  
  h3 {
    font-size: 1.475em;
    font-weight: 300;
    margin: 32px 0;
    text-align: center;
  }

  &.inline-action-snug {
    h3 {
      margin-bottom: 0;
      &.percentage {
        margin-top: 24px;
      }
    }
    p {
      margin-bottom: 8px;
    }
  }

}

.site-footer {
  
  h3 {
    color: $color-black-lighter;
    font-size: 2.0em;
    font-weight: 300;
    text-align: center;
    word-spacing: 0.25em;
    margin-bottom: 64px;
  }

}

.site-copyright {

  
  h4 {
    color: $color-black-lighter;
    font-size: 1.000em;
    font-weight: 300;
    margin-bottom: 16px;
  }

  p,
  address {
    font-family: $font-serif;
    font-weight: 500;
    font-size: 0.875em;
    letter-spacing: -0.025em;
    margin-bottom: 16px;
  }

}

.custom-button-icon {
  color: darken($color-red-base, 5%);
  font-size: 36px !important;
  top: 12px !important;
  margin-right: 16px;
  margin-left: -55px;
}


//
// Progress Indicator
//
.progress {
  border-bottom: 1px solid rgb(225,225,225);

  p {
    font-family: $font-sans;
    font-weight: 300;
    text-transform: uppercase;

    a,
    a:active,
    a:link,
    a:visited,
    a:hover {
      color: $color-black-lighter;
    }
  }

  .icon {
    border: 1px dashed $color-black-base;
    border-radius: 50%;
    display: inline-block;
    height: 24px;
    margin-right: 6px;
    padding-top: 4px;
    width: 28px;
  }

  .step-active {
    p {
      a {
        color: darken($color-blue-base, 5%);
      }
    }
    .icon {
      color: darken($color-blue-base, 5%);
      border: 1px dashed darken($color-blue-base, 5%);
    }
  }

  .step-incomplete {
    p {
      a {
        color: lighten($color-black-lighter, 35%);
      }
    }
    .icon {
      color: lighten($color-black-lighter, 35%);
      border: 1px dotted lighten($color-black-lighter, 35%);
    }
  }

  .step-complete {
    p {
      a {
        color: darken($color-green-base, 15%);
      }
    }
    .icon {
      color: darken($color-green-base, 15%);
      border: 1px solid darken($color-green-base, 15%);
    }
  }

  .plan-complete {
    p {
      a {
        color: darken($color-gold-base, 15%);
      }
    }
    .icon {
      color: darken($color-gold-base, 15%);
      border: 1px solid darken($color-gold-base, 15%);
    }
  }
  .plan-completed {
    color: $color-gold-base;
  }

}


//
// Step specific styles
//
.step {
  .sub-step {

    .statistics-label {
      background-color: white;
      color: $color-black-lightest;
      display: block;
      font-family: $font-sans;
      font-size: 12px;
      margin: -32px auto 16px;
      position: relative;
      text-transform: uppercase;
      width: 15%;
      z-index: 1;
    }
    
    h1 {
      color: $color-blue-base;
      font-family: $font-sans;
      font-size: 1.5em;
      font-weight: 300;
      text-transform: uppercase;
      margin: 0 0 16px;

      &.no-emphasis {
        color: $color-black-base;
      }
    }

    h3 {
      &.statistic {
        font-size: 2.4em;
        margin-top: 0;
        &.highlight {
          color: $color-blue-base;
        }
        span {
          font-size: 12px;
        }
      }
    }

    p {
     &.reduction-percentage {
       margin-top: 16px;
     }
    }
  }
}
