<form method="POST" class="form-inline form-geocoder" role="form">
  <div class="row">
    <div class="col-xs-10 address">
      <input type="text" id="geocoder" name="geocoder" class="form-control" data-ng-model="geocoder" data-ng-change="initGeocoder()" placeholder="Search for address"/>
      <div data-ng-if="geocodeFeatures.length && geocoder.length >= 3" class="dropdown">
        <ul>
          <li data-ng-repeat="possibleResult in geocodeFeatures"><a href="javascript:void()" data-ng-click="getSelectedProperty(possibleResult)">{{ possibleResult.place_name }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</form>