<form class="form form-wide form-geocoder" method="POST" id="form" name="form">
	<div class="form-group address">
	  <label aria-hidden="true" class="element-invisible control-label" for="geocoder">Type in your address and select the correct address from the drop down menu</label>
	  <input type="text" class="form-control input-xl" id="address" name="address" data-ng-model="plan.address" data-ng-change="searchAddress()" data-ng-blur="clear()" placeholder="Begin typing your address" autocomplete="off" />
	  <div data-ng-if="features.length && plan.address.length >= 3" class="dropdown">
	    <ul>
	      <!-- <li data-ng-if="relationship_focus && !features.length"><p><em>Begin typing to select the {{ field.label }} you want</em></p></li> -->
	      <li data-ng-repeat="result in features"><a data-ng-mousedown="selectCoordinate(result)">{{ result.place_name }}</a></li>
	    </ul>
	  </div>
	</div>
</form>